/*                                                   GENERAL                        */

a{
	text-decoration: none !important;
}

hr{
  border-top: 1px solid black !important;
}
body#bcon{
	background-color: rgb(253,255,255) !important;
}
body{
	overflow-x: hidden;
	background-color:#F5F5F5; 
	text-decoration: none; 
	position: relative;
	font-family: verdana !important;	
}

.navbar-nav{
	font-family: verdana !important;	
  padding: 5px;
  font-size: 16px;
}
.navbar-header{
  padding: 5px;
}
.navbar-brand{
  font-size: 20px;
  color: #990000 !important;
}
footer{
  line-height: 15px;
  font-family: "Montserrat",sans-serif!important;
  position: relative;
  display: block;
  background-color: rgb(248,248,248);
}

.list-unstyled{
  color: color:rgba(254,238,214,1);
}

.navigation{
  text-decoration: none;
  color: rgb(51,0,0);
}
.navigation:hover{
  text-decoration: none;
  color:#CC0000; 
}
.fa{
  color: #CC0000 !important
}
 footer#cont{
  background-color: rgb(253,255,255) !important;
 }


/*                                                           	Books&Bytes-HOME                                              */

#booksgallery{
  margin-right: 15%; 
}
hr.booksdesc{
  border-top: 1px solid rgba(51,0,0,1)!important;
  margin-right: 15%;
}
.aboutphoto{
  height: 200px !important;
}
p.photocaption{
	color: rgb(102,0,0);
}
#booksabout{
  margin-right: 15%; 
  letter-spacing: 1px;
  line-height: 20px;
	color: rgb(51,0,0);

}

/*                                            Books&Bytes - MENU                                    */
div{
	display: block;
}

input.countbutton{
	cursor: pointer;
}

.product{
	display: inline-block;
	background-color: white;
  	width: 250px;
  	height: 350px;
  	border-style: double;
 	border: 5px solid #efeeee;
    margin-bottom: 10px;
    cursor: pointer;
}

.add_basket {
    border: 3px solid #000;
    display: block;
    height: 50px;
    margin: 10px 0;
    margin-right: 0;
    font: 18px/44px 'Source Sans Pro';
    color: #000;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.add_basket:hover{
	text-decoration: none;
	color: black;
}
.tablinks{
	color: white;
	
}

div.tab {
    overflow: hidden;
    border:  solid white;
    background-color: #990000;
}

div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

div.tab button:hover {
    background-color: #CC0000;
}

div.tab button.active {
    background-color: #CC0000 ;
}

.tabcontent {
    display: none;
    padding: 6px 12px;

    border-top: none;
}

#orderheader {
	position: relative;
	display: block;
  top: 130px;	 
	color: black;
	letter-spacing: 1px;
	line-height: 20px;

}

.containermycss {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.containermycss:hover .overlay {
  bottom: 0;
  height: 100%;
  opacity: 0.8;
}

.text {
  white-space: nowrap; 
  font-size: 20px;
  color: #CC0000;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.img-res {
	display: block;
    min-width: 100%;
    height: 150px;
    width: 100px;

}
.description{
	text-align: center;
}
.mealname{
	font-style: italic;
	font-size: 15pt;
}

.price{
	font-size: 25pt;
}


#count{
	border-style: none;
}

#minus,#plus{
  background-color:transparent;
  border-radius: 50%;
  padding: 0.25em 0.8em;
  border: 1px solid black;
  
    
}

/*                                                 Books&Bytes - CONTACT                                          */
 div#contact_info{
	position: relative;
	display: block;
  top: 130px;	
  margin-left: 8%;
  margin-right: 5%; 
	color: black;
	letter-spacing: 1px;
	line-height: 20px;

 }

#booksmap{
	width: 650px;
	height: 350px; 	
}


#feedbackbutton{
	 background-color: #990000;
	color: rgb(254,238,214);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-left:91%;
}

.orderoption{
  height: 48px;
}
#orderbutton{
    background-color:  #990000;
    color: rgb(254,238,214);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.orderform{
  margin-left: 10%;
}
.orderedimage{
    display: block;
    height: 200px;
    width:  250px;
}

.hrmargin{
  background-color: black;
  color: black;
  height: 1px;
  margin-left: 9%;
  margin-right: 15%;
}

.navbar{
	box-shadow: 1px 1px 20px #FFE5CC;
}
.navbar-nav a:hover{
  color: #CC0000 !important;  
}
.dropdown-menu a:hover{
  color: #CC0000 !important;
}
